.botao-legal{
    padding-left: 50%;
    background-color: purple;
    color:#fff;
    padding:10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: bold;
}

.botao-legal:hover{
    padding-left: 50%;
    background-color: #fff;
    color: purple;
    cursor: 1px solid purple;
}